$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-color: #FA9500;
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph-size: 2.4rem;

@mixin flexCenter ($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
        cursor: pointer;
    }
}

body {
    background-color: $primary-color;
    box-sizing: border-box;
}

* {
    font-size: 62.5%;
    margin: 0px;
    padding: 0px;
    font-family: $font-stack;
}

nav {
    width: auto;
    height: 100px;
    padding: 16px 32px;
    gap: 20px;
    @include flexCenter(null, space-between, center);
    color: $primary-text-color;
    p {
        font-size: 4rem;
        font-weight: bolder;
        padding-left: 30px;
    }
    .icons {
        display: flex;
        gap: 32px;
        @include buttonStyle;
    }
}

article {
    width: auto;
    padding: 16px 32px;
    display: flex;
    justify-content: space-evenly;
    color: $primary-text-color;
    .impact-section {
        max-width: 800px;
        @include flexCenter(column, space-evenly , center);
        animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    @keyframes slide-in-left {
        0% {
          transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }

    h1 {
        font-size: 2.8rem;
        margin-bottom: 28px;
    }
    p {
        font-size: $paragraph-size;
        padding-bottom: 48px;
    }
    @include buttonStyle;
    button {
        width: 200px;
        padding: 16px 32px;
        background-color: $quaternary-color;
        border-style: none;
        border-radius: 35px;
        color: white;
        font-size: 1.6rem;
        &:hover {
            transform: scale(1.1);
            transition-duration: 0.3s;
        }
    }

    .image-section {
        padding-left: 164px;
        animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
      @keyframes slide-in-right {
        0% {
          transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    img {
            max-width: 400px;
            object-fit: cover;
            border-radius: 19px; 
    }
}

section {
    width: auto;
    height: auto;
    padding: 60px;
    h2 {
        color: $primary-text-color;
        font-size: 3.2rem;
    }
    .healthcare {
        font-weight: 400;
        padding-bottom: 60px;
        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }
        .card-section {
            @include flexCenter(row, space-around, center); 
            flex-wrap: wrap;
            gap: 20px;
            column-gap: 200px;
            row-gap: 50px;
            width: auto;
            height: auto;
        }
        .product-card {
            width: 324px;
            height: 520px;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 20px 21px 0 21px;
            margin-bottom: 75px;
            border-radius: 8px;
            .icon {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
                svg {
                    width: 28px;
                    height: 28px;
                }
            }
            .product-image {
                @include flexCenter(row, center, center);
                padding: 37px 20px 0 20px;
                img {
                    width: 12vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 7px;
                }
            }
            
                h3 {
                  font-size: $paragraph-size;
                }
                p {
                  font-size: 1.7rem;
                }
              
            }
    }
    .furniture {
        @extend .healthcare;
        .product-card {
            background-color: $tertiary-color;
            color: white;
        }

    }
}

section {
  color: $primary-text-color;
  font-size: 1.8rem;
  font-weight: lighter;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
    .about-us {
      @include flexCenter(null, space-around, center);
      flex-wrap: wrap;
      margin-bottom: 32px;
      h2 {
        font-weight: bold;
        margin-bottom: 16px;
    }
    .mission-section {
      @include flexCenter(null, space-around , center);
      flex-wrap: wrap;
      margin-bottom: 32px;
      .earth {
          @include flexCenter(null, null , center );
          $text-color: #E86424;
          max-width: 440px;
          gap: 16px;
          color: $text-color;
          text-align: center;
          padding: 16px 0;
          img {
              object-fit: contain;
              width: 116px;
          }
          p {
              text-align: center;
              font-size: $paragraph-size;
          }
      } 
  }
    .innovation {
        @extend .earth;
    }
  }
  .gallery {
    h2 {
        font-weight: bold;
        padding-bottom: 60px;
    }
    .gallery-images {
        @include flexCenter(null, space-between , center);
        height: 380px;
        img {
            width: 30%;
            height: 100%;
            object-fit: cover;
            object-position: 5px 35%;
            border-radius: 25px;
            &:hover {
                transform: scale(1.1);
                transition-duration: 0.3s;
            }
        }
    }
  }
  .location {
    $text-color: #E86424;
    color: $text-color;
    text-align: center;
    font-size: $paragraph-size;
    margin-bottom: 24px;
    h2 {
        padding-bottom: 60px;
        padding-top: 60px;
        margin-bottom: 8px;
    }
    .map {
      text-align: center;
      margin-bottom: 16px;
      img {
        width: 100%;
      }
    }
    
    h3,p {
        font-size: $paragraph-size;
      }
  }
}

.footer {
    padding: 40px;
    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    color: white;
    h3 {
        font-size: $paragraph-size
    }
    p {
        font-size: 2rem;
    }
    .social-media {
        @include flexCenter(row, center , center);
        gap: 40px;
        padding-bottom: 10px;
    }
}


/*----- media queries -----*/

@media (max-width: 1080px) {
    main {
      article {
        .image-section {
          padding-left: 20px;
        }
      }
    }
  }

  @media (max-width: 980px) {
    main {
      section {
        .about-us {
          padding-bottom: 41px;
          h2 {
            margin-bottom: 52px;
          }
          .mission-section {
            gap: 65px;
            .earth {
              width: 50%;
              img {
                width: 120px;
                height: 120px;
              }
              p {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 820px) {
    main {
      article {
        padding-bottom: 70px;
        .impact-section {
          h1 {
            font-size: $paragraph-size;
          }
          p {
            font-size: 2rem;
          }
          button {
            font-size: 2rem;
          }
        }
      }
      section {
        .healthcare {
          h2 {
            font-size: $paragraph-size;
            font-weight: bold;
            padding: 31px 0;
          }
          .card-section {
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            overflow-x: scroll;
            justify-content: initial;
            gap: 10px;
          }
          ::-webkit-scrollbar {
            height: 14px;
          }
          ::-webkit-scrollbar-thumb {
            background-color: #fa9500;
            border-radius: 8px;
          }
          .product-card {
            width: 178px;
            height: 450px;
            padding: 10px 11px 0 11px;
            margin-bottom: 10px;
            .product-image {
              padding: 15px 5px 0 5px;
              img {
                width: 100%;
                height: 164px;
              }
            }
            .product-inf {
              padding: 9px 6px 0 6px;
              h3 {
                font-size: 1.6rem;
                margin-bottom: 4px;
              }
              p {
                font-size: 1.2rem;
              }
            }
          }
        }
        .location {
          h2 {
            font-size: 22px;
            font-weight: 500;
          }
          h3 {
            font-size: 20px;
            font-weight: 400;
          }
          p {
            font-size: 15px;
            font-weight: 400;
          }
        }
      }
    }
  }

  @media (max-width: 660px) {
   .main-section{
    .image-section {
      display: none;
    }
   }
}
